.catalog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.catalog .product {
  display: flex;
  justify-content: start;
  align-items: baseline;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .catalog {
    font-size: 3vw;
  }
}

.catalog .product-title {
  font-weight: 700;
  font-size: 24px;
  color: #0d5adc;
}

@media screen and (max-width: 800px) {
  .catalog .product-title {
    font-size: 4.5vw;
  }
}

.catalog .product .image {
  width: 64px;
  height: 120px;
}

.catalog .product-img {
  width: 100%;
  height: 100%;
}

.catalog .params {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  /* flex-wrap: wrap; */
  height: 15vw;
  max-height: 150px;
  padding: 10px;
  border: 1px solid #cdcfd2;
}

.catalog .params p {
  width: 200px;
}

/* @media screen and (max-width: 800px) {
  .params .param-title {
    width: 2vw;
  }
} */
