.table-wrapper {
  background-color: white;
  padding-bottom: 90px;
  background-color: #f4f9fc;
}

.compare-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cdcfd2;
}

.param-title {
  width: 165px;
  color: #a4a9b9;
  font-size: 18px;
  padding-right: 10px;
}

@media screen and (max-width: 500px) {
  .table-wrapper .param-title {
    font-size: 3vw;
  }
}

.param-value {
  width: 100px;
}

@media screen and (max-width: 500px) {
  .table-wrapper .param-value {
    font-size: 3.5vw;
  }
}

.param-value img {
  width: 22px;
  height: 22px;
}
