.compare-wrapper {
  padding-bottom: 77px;
  border-bottom: 1px solid #cdcfd2;
}

.compare-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.compare-title {
  color: #828286;
  font-size: 48px;
}

.compare-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #0d5adc;
}

.count-for-compare {
  cursor: pointer;
}

.count-for-compare:hover {
  color: #5e90e6;
}

.chosen {
  text-decoration: underline;
}
