.compare-wrapper {
  padding-bottom: 77px;
  border-bottom: 1px solid #cdcfd2;
  background-color: white;
}

.compare-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.compare-title {
  color: #828286;
  font-size: 52px;
}

.compare-title h4 {
  margin-top: 62px;
  margin-bottom: 22px;
}

@media screen and (max-width: 800px) {
  .compare-title {
    font-size: 6vw;
  }
}

.compare-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: #0d5adc;
}

.compare-count p {
  margin-top: 70px;
  margin-bottom: 0px;
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .compare-count p {
    font-size: 4vw;
    margin: 10px;
  }
}

.count-for-compare {
  cursor: pointer;
}

.count-for-compare:hover {
  color: #5e90e6;
}

.chosen {
  text-decoration: underline;
}
