.choose-products {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.checkbox-diff {
  height: 23px;
  width: 23px;
  margin-right: 15px;
}

.choose-products label {
  color: #0d5adc;
}

@media screen and (max-width: 500px) {
  .choose-products {
    font-size: 4vw;
  }
}

.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 7px;
}

.product {
  position: relative;
}

.product .image {
  width: auto;
  height: auto;
}

.product-img {
  width: 100%;
  height: 100%;
}

.row-open {
  background-image: url("../../assets/img/chevron_small.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 4vw;
  width: 4vw;
  cursor: pointer;
}

.row-active {
  transition: 0.2s;
  transform: scale(1.1);
}
