body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

.wrapper {
  max-width: 1440px;
  padding: 0 10vw;
}

@media screen and (max-width: 500px) {
  .wrapper {
    padding: 0 5vw;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
